USE [master]
GO
/****** Object:  Database [eBaseAppDb]    Script Date: 2023/08/04 15:05:07 ******/
CREATE DATABASE [eBaseAppDb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'aspnet-eBaseApp-20230720085659.mdf', FILENAME = N'C:\Workspace\eBaseApp1\eBaseApp\eBaseApp\App_Data\aspnet-eBaseApp-20230720085659.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'aspnet-eBaseApp-20230720085659_log.ldf', FILENAME = N'C:\Workspace\eBaseApp1\eBaseApp\eBaseApp\App_Data\aspnet-eBaseApp-20230720085659_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [eBaseAppDb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [eBaseAppDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Applications]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Applications](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Key] [nvarchar](100) NULL,
	[ApplicationAbbreviation] [nvarchar](30) NOT NULL,
	[IsOnline] [bit] NOT NULL,
	[SeedDate] [datetime] NOT NULL,
	[Seed] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Applications] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSettingAudits]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettingAudits](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](10) NULL,
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Key] [nvarchar](250) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.AppSettingAudits] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AppSettings]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AppSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Key] [nvarchar](100) NULL,
	[Value] [nvarchar](max) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.AppSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[UserId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC,
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](128) NOT NULL,
	[RoleId] [nvarchar](128) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](128) NOT NULL,
	[SystemUserId] [int] NOT NULL,
	[UnconfirmedEmail] [nvarchar](max) NULL,
	[ServiceNo] [nvarchar](max) NULL,
	[RoundRobinIsActive] [bit] NOT NULL,
	[isInternalUser] [bit] NOT NULL,
	[isActiveDirectoryUser] [bit] NOT NULL,
	[isDeleted] [bit] NOT NULL,
	[Email] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEndDateUtc] [datetime] NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
	[UserName] [nvarchar](256) NOT NULL,
 CONSTRAINT [PK_dbo.AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Audits]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Audits](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](max) NULL,
	[PrimaryKey] [int] NOT NULL,
	[TableName] [nvarchar](max) NULL,
	[ColumnName] [nvarchar](max) NULL,
	[OriginalValue] [nvarchar](max) NULL,
	[CurrentValue] [nvarchar](max) NULL,
	[AuditBySystemUserId] [int] NULL,
	[AuditDateTime] [datetime] NOT NULL,
	[IPAddress] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Audits] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Key] [nvarchar](100) NULL,
	[StatusTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.Status] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusAudits]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusAudits](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](10) NULL,
	[Id] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](250) NULL,
	[Key] [nvarchar](250) NULL,
	[StatusTypeId] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.StatusAudits] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StatusTypes]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StatusTypes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[Key] [nvarchar](100) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
 CONSTRAINT [PK_dbo.StatusTypes] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUserAudits]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUserAudits](
	[AuditId] [int] IDENTITY(1,1) NOT NULL,
	[Action] [nvarchar](10) NULL,
	[Id] [int] NOT NULL,
	[FirstName] [nvarchar](100) NULL,
	[LastName] [nvarchar](100) NULL,
	[UserName] [nvarchar](100) NULL,
	[CompanyName] [nvarchar](250) NULL,
	[Designation] [nvarchar](250) NULL,
	[EmailAddress] [nvarchar](100) NULL,
	[SystemUserTypeId] [nvarchar](max) NULL,
	[StatusId] [nvarchar](25) NULL,
	[IsPasswordReset] [bit] NOT NULL,
	[IsTemporaryPassword] [bit] NOT NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[IdentificationNumber] [nvarchar](100) NULL,
	[ServiceNo] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
	[IsIAMRegistered] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemUserAudits] PRIMARY KEY CLUSTERED 
(
	[AuditId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SystemUsers]    Script Date: 2023/08/04 15:05:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SystemUsers](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
	[UserName] [nvarchar](max) NULL,
	[CompanyName] [nvarchar](max) NULL,
	[Designation] [nvarchar](max) NULL,
	[EmailAddress] [nvarchar](max) NULL,
	[SystemUserTypeId] [nvarchar](max) NULL,
	[StatusId] [nvarchar](max) NULL,
	[IsPasswordReset] [bit] NOT NULL,
	[IsTemporaryPassword] [bit] NOT NULL,
	[MobileNumber] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[IdentificationNumber] [nvarchar](100) NULL,
	[ServiceNo] [nvarchar](max) NULL,
	[isInternalUser] [bit] NOT NULL,
	[IsIAMRegistered] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[IsLocked] [bit] NULL,
	[CreatedBySystemUserId] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[ModifiedBySystemUserId] [int] NULL,
	[ModifiedDateTime] [datetime] NULL,
	[isActiveDirectoryUser] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.SystemUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Applications] ON 

INSERT [dbo].[Applications] ([Id], [Name], [Description], [Key], [ApplicationAbbreviation], [IsOnline], [SeedDate], [Seed], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (1, N'Base App', N'Base App', N'a_base_app', N'Base', 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 0, 1, 0, 0, 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[Applications] OFF
GO
SET IDENTITY_INSERT [dbo].[AppSettings] ON 

INSERT [dbo].[AppSettings] ([Id], [Name], [Description], [Key], [Value], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (1, N'AD User Logins', N'xetgroup', N'ad_admin_user_creds', N'@Dev2022!', 1, 0, 0, 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime))
INSERT [dbo].[AppSettings] ([Id], [Name], [Description], [Key], [Value], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (2, N'Active Directory Domain', N'Active Directory Domain', N'active_directory_domain', N'10.31.3.52', 1, 0, 0, 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime))
INSERT [dbo].[AppSettings] ([Id], [Name], [Description], [Key], [Value], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (3, N'Active Directory Active', N'Active Directory Active', N'active_directory_active', N'True', 1, 0, 0, 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[AppSettings] OFF
GO
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'f501b7c9-f7b4-472f-9f5e-3a47c27fe541', N'Administrators')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'e21f99cb-0fa5-499c-8f8b-3d84f98b1cc3', N'Customers')
INSERT [dbo].[AspNetRoles] ([Id], [Name]) VALUES (N'164412fc-1683-485e-b97c-6c218418f305', N'Guests')
GO
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'ed0ef726-c6bf-45c9-80c1-d899e3d998c7', N'3ad7fc33-3842-4d65-a2d4-1cc3c2b03f60')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'f993fd37-ac8d-45d9-ae91-14836e61513a', N'e21f99cb-0fa5-499c-8f8b-3d84f98b1cc3')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a30960da-b54b-4adf-9935-c8756a7584b4', N'f501b7c9-f7b4-472f-9f5e-3a47c27fe541')
GO
INSERT [dbo].[AspNetUsers] ([Id], [SystemUserId], [UnconfirmedEmail], [ServiceNo], [RoundRobinIsActive], [isInternalUser], [isActiveDirectoryUser], [isDeleted], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'991d24aa-a663-4aad-b23c-dbc44cdc1de7', 6, NULL, N'Pl1FEX', 1, 1, 1, 0, N'wdwd', 1, N'AM5ncs38Je6rw4jkfIjQIdCxpiWtymVdy0eWN1x5chIeJdj1tWH+CUYl0e8hlnjKkA==', N'85a1cbe7-0155-46de-9230-d62fdf1983f4', N'', 0, 0, NULL, 0, 0, N'dw')
INSERT [dbo].[AspNetUsers] ([Id], [SystemUserId], [UnconfirmedEmail], [ServiceNo], [RoundRobinIsActive], [isInternalUser], [isActiveDirectoryUser], [isDeleted], [Email], [EmailConfirmed], [PasswordHash], [SecurityStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEndDateUtc], [LockoutEnabled], [AccessFailedCount], [UserName]) VALUES (N'a30960da-b54b-4adf-9935-c8756a7584b4', 5, NULL, N'E7k1Sj', 1, 1, 1, 0, N'dwdw', 1, N'AM7LZzuQiiBWBpznK+GMMB9A4TWIXkK3NbMPBB7bI5v9j2JVHV7dNm3FMntG9qkhqw==', N'7e5fab07-0610-4347-a2c4-489018a0a894', N'', 0, 0, NULL, 0, 0, N'dadwd')
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([Id], [Name], [Description], [Key], [StatusTypeId], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (1, N'Pending', N'SMS Pending', N's_sms_pending', 1, 1, 0, 0, 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime), 1, CAST(N'2023-05-12T13:02:27.893' AS DateTime))
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[StatusTypes] ON 

INSERT [dbo].[StatusTypes] ([Id], [Name], [Description], [Key], [IsActive], [IsDeleted], [IsLocked], [CreatedBySystemUserId], [CreatedDateTime], [ModifiedBySystemUserId], [ModifiedDateTime]) VALUES (1, N'Customer Status', N'Customer Status', N'st_customer_account', 1, 0, 0, 1, CAST(N'2019-06-03T13:07:11.267' AS DateTime), 1, CAST(N'2019-06-03T13:07:11.267' AS DateTime))
SET IDENTITY_INSERT [dbo].[StatusTypes] OFF
GO
SET IDENTITY_INSERT [dbo].[SystemUsers] ON 

SET IDENTITY_INSERT [dbo].[SystemUsers] OFF
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[Applications]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[Applications]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[AppSettingAudits]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[AppSettingAudits]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[AppSettings]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[AppSettings]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2023/08/04 15:05:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RoleId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_UserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_UserId] ON [dbo].[AspNetUserRoles]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_SystemUserId] ON [dbo].[AspNetUsers]
(
	[SystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2023/08/04 15:05:07 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_AuditBySystemUserId] ON [dbo].[Audits]
(
	[AuditBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[Status]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[Status]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusTypeId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_StatusTypeId] ON [dbo].[Status]
(
	[StatusTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[StatusAudits]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[StatusAudits]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StatusTypeId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_StatusTypeId] ON [dbo].[StatusAudits]
(
	[StatusTypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[StatusTypes]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[StatusTypes]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[SystemUserAudits]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[SystemUserAudits]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CreatedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_CreatedBySystemUserId] ON [dbo].[SystemUsers]
(
	[CreatedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ModifiedBySystemUserId]    Script Date: 2023/08/04 15:05:07 ******/
CREATE NONCLUSTERED INDEX [IX_ModifiedBySystemUserId] ON [dbo].[SystemUsers]
(
	[ModifiedBySystemUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Applications_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_dbo.Applications_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[Applications]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Applications_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[Applications] CHECK CONSTRAINT [FK_dbo.Applications_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[AppSettingAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppSettingAudits_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[AppSettingAudits] CHECK CONSTRAINT [FK_dbo.AppSettingAudits_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[AppSettingAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppSettingAudits_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[AppSettingAudits] CHECK CONSTRAINT [FK_dbo.AppSettingAudits_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[AppSettings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppSettings_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[AppSettings] CHECK CONSTRAINT [FK_dbo.AppSettings_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[AppSettings]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AppSettings_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[AppSettings] CHECK CONSTRAINT [FK_dbo.AppSettings_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_dbo.AspNetUserClaims_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_dbo.AspNetUserLogins_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_dbo.AspNetUserRoles_dbo.AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AspNetUsers_dbo.SystemUsers_SystemUserId] FOREIGN KEY([SystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[AspNetUsers] CHECK CONSTRAINT [FK_dbo.AspNetUsers_dbo.SystemUsers_SystemUserId]
GO
ALTER TABLE [dbo].[Audits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Audits_dbo.SystemUsers_AuditBySystemUserId] FOREIGN KEY([AuditBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[Audits] CHECK CONSTRAINT [FK_dbo.Audits_dbo.SystemUsers_AuditBySystemUserId]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Status_dbo.StatusTypes_StatusTypeId] FOREIGN KEY([StatusTypeId])
REFERENCES [dbo].[StatusTypes] ([Id])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_dbo.Status_dbo.StatusTypes_StatusTypeId]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Status_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_dbo.Status_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[Status]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Status_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[Status] CHECK CONSTRAINT [FK_dbo.Status_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[StatusAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StatusAudits_dbo.StatusTypes_StatusTypeId] FOREIGN KEY([StatusTypeId])
REFERENCES [dbo].[StatusTypes] ([Id])
GO
ALTER TABLE [dbo].[StatusAudits] CHECK CONSTRAINT [FK_dbo.StatusAudits_dbo.StatusTypes_StatusTypeId]
GO
ALTER TABLE [dbo].[StatusAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StatusAudits_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[StatusAudits] CHECK CONSTRAINT [FK_dbo.StatusAudits_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[StatusAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StatusAudits_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[StatusAudits] CHECK CONSTRAINT [FK_dbo.StatusAudits_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[StatusTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StatusTypes_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[StatusTypes] CHECK CONSTRAINT [FK_dbo.StatusTypes_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[StatusTypes]  WITH CHECK ADD  CONSTRAINT [FK_dbo.StatusTypes_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[StatusTypes] CHECK CONSTRAINT [FK_dbo.StatusTypes_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[SystemUserAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemUserAudits_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemUserAudits] CHECK CONSTRAINT [FK_dbo.SystemUserAudits_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[SystemUserAudits]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemUserAudits_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemUserAudits] CHECK CONSTRAINT [FK_dbo.SystemUserAudits_dbo.SystemUsers_ModifiedBySystemUserId]
GO
ALTER TABLE [dbo].[SystemUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemUsers_dbo.SystemUsers_CreatedBySystemUserId] FOREIGN KEY([CreatedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemUsers] CHECK CONSTRAINT [FK_dbo.SystemUsers_dbo.SystemUsers_CreatedBySystemUserId]
GO
ALTER TABLE [dbo].[SystemUsers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.SystemUsers_dbo.SystemUsers_ModifiedBySystemUserId] FOREIGN KEY([ModifiedBySystemUserId])
REFERENCES [dbo].[SystemUsers] ([Id])
GO
ALTER TABLE [dbo].[SystemUsers] CHECK CONSTRAINT [FK_dbo.SystemUsers_dbo.SystemUsers_ModifiedBySystemUserId]
GO
USE [master]
GO
